<div class="container">
<div class="ask"><p><%= @question%></p>
<i> - You </i>
</div>

<div class="answer"><p><b><%= @answer%></b></p>
<i> - Your Coach </i>
</div>

<%= link_to "Ask another question", ask_path %>
</div>
